<ion-view view-title="Create event">
  <ion-content>

    <form name="createForm">
      <label class="item item-input">
        <span class="input-label">Title</span>
        <input type="text" ng-model="createEventCtrl.eventTitle">
      </label>
      <label class="item item-input">
        <span class="input-label">Description</span>
        <input type="text" ng-model="createEventCtrl.description">
      </label>
      <label class="item item-input">
        <span class="input-label">Postcode</span>
        <input type="text" ng-model="createEventCtrl.postcode">
      </label>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input id="date" name="date" type="date" ng-model="createEventCtrl.date">
      </label>
      <label class="item item-input">
        <span class="input-label">Time</span>
        <input id="time" name="time" type="time" ng-model="createEventCtrl.time">
      </label>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Sound
          </div>
          <select ng-model="createEventCtrl.sound">
            <option ng-selected value="sucka">Mr T</option>
            <option value="chicken">Disco Chicken</option>
            <option value="nyan">Nyan Cat</option>
          </select>
        </label>
      </div>
      <br>
      <label class="item item-input">
        <span class="input-label">Select attendees:</span>
      </label>
      <div ng-repeat="(uid, user) in createEventCtrl.usersHash">
        <ion-checkbox ng-click="createEventCtrl.addToAttendeeHash(uid, user.email)">
          {{ user.email }}
        </ion-checkbox>
      </div>

      <button id="create-button" class="button button-full button-positive"
        ng-click="createEventCtrl.createEvent(createEventCtrl.eventTitle, createEventCtrl.description,
         createEventCtrl.date, createEventCtrl.time, createEventCtrl.postcode, createEventCtrl.sound)">
        Add event
      </button>
    </form>

  </ion-content>
</ion-view>
