<ion-view view-title="Create event">
  <ion-content>

    <form name="createForm">
      <label class="item item-input">
        <span class="input-label">Title</span>
        <input type="text" ng-model="eventTitle">
      </label>
      <label class="item item-input">
        <span class="input-label">Description</span>
        <input type="text" ng-model="description">
      </label>
      <label class="item item-input">
        <span class="input-label">Postcode</span>
        <input type="text" ng-model="postcode">
      </label>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input id="date" name="date" type="date" ng-model="date">
      </label>
      <label class="item item-input">
        <span class="input-label">Time</span>
        <input id="time" name="time" type="time" ng-model="time">
      </label>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Sound
          </div>
          <select ng-model="sound">
            <option selected value="sucka">Mr T</option>
          </select>
        </label>
      </div>
      <br>
      <label class="item item-input">
        <span class="input-label">Select attendees:</span>
      </label>
      <div ng-repeat="(uid, user) in createEventCtrl.usersHash">
        <ion-checkbox ng-click="createEventCtrl.addToAttendeeHash(uid, user.email)">
          {{ user.email }}
        </ion-checkbox>
      </div>

      <button id="create-button" class="button button-full button-positive"
        ng-click="createEventCtrl.createEvent(eventTitle, description, date,
        time, postcode, sound)">
        Add event
      </button>
    </form>

  </ion-content>
</ion-view>
