<ion-view>
  <ion-content>
    <label class="item item-input">
      <span class="input-label">Title</span>
      <input type="text" ng-model="eventTitle">
    </label>
    <label class="item item-input">
      <span class="input-label">Description</span>
      <input type="text" ng-model="description">
    </label>
    <label class="item item-input">
      <span class="input-label">Date</span>
      <input type="date" ng-model="eventDate">
    </label>
    <label class="item item-input">
      <span class="input-label">Time</span>
      <input type="time" ng-model="eventTime">
    </label>

    <span class="input-label">Attendees</span>
    <div ng-repeat="(key, user) in CreateEventCtrl.usersHash">
      <p><input type="checkbox"> {{ user.email }}</p>
    </div>

    <button class="button button-full button-positive"
      ng-click="CreateEventCtrl.createEvent(eventTitle, description, eventDate, eventTime)">
        Create Event
    </button>
  </ion-content>
</ion-view>
