<ion-view view-title="Events">
  <ion-content>
    <div class="list">
      <div ng-repeat="(key, event) in myEventsCtrl.userEvents()">
        <a class="item item-avatar" ng-href="#/tab/view-event/{{ key }}">
          <img src="img/alarming.jpg">
          <p>{{ event }}</p>
          <h2>{{ event.eventTitle }}</h2>
          <p>{{ event.description }}</p>
          <p>{{ event.dateTime | date:'d MMM yyyy, HH:mm' }}</p>
          <p>{{ event.attendees }}</p>
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
