<ion-view view-title="Events">
  <ion-content>

    <ion-list show-delete="false" can-swipe="true">
      <ion-item ng-repeat="(key, event) in myEventsCtrl.userEvents()">

        <a class="item item-avatar" ng-click="myEventsCtrl.testView(key)" ng-href="#/tab/view-event/{{ key }}">
          <img src="img/alarming.jpg">
          <h2>{{ event.eventTitle }}</h2>
          <p>{{ event.description }}</p>
          <p>{{ event.dateTime | date:'d MMM yyyy, HH:mm' }}</p>
          <p>{{ myEventsCtrl.attendeeList(event) }}</p>
        </a>

          <ion-option-button ng-if="event.owner === myEventsCtrl.userId()" class="button-assertive button-large ion-trash-b" ng-click="myEventsCtrl.deleteEvent(key)"></ion-option-button>
          <ion-option-button ng-if="event.owner === myEventsCtrl.userId()" class="button-balanced ion-edit"></ion-option-button>


      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
