<ion-view view-title="Sign up">
  <ion-content>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" ng-model="user.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>

    <div class="padding">
      <button id='button' class="button button-block button-positive" ng-click="signUpCtrl.signUp(user)">
        Sign up
      </button>
    </div>

  </ion-content>
</ion-view>
