<ion-view view-title="Update event">
  <ion-content>

    <form name="updateForm">
      <label class="item item-input">
        <span class="input-label">Title</span>
        <input type="text" ng-model="updateEventCtrl.eventTitle">
      </label>
      <label class="item item-input">
        <span class="input-label">Description</span>
        <input type="text" ng-model="updateEventCtrl.description">
      </label>
      <label class="item item-input">
        <span class="input-label">Postcode</span>
        <input type="text" ng-model="updateEventCtrl.postcode">
      </label>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input id="date" name="date" type="date" ng-model="updateEventCtrl.date">
      </label>
      <label class="item item-input">
        <span class="input-label">Time</span>
        <input id="time" name="time" type="time" ng-model="updateEventCtrl.time">
      </label>
      <br>
      <label class="item item-input">
        <span class="input-label">Select attendees:</span>
      </label>
      <br>
      <label class="item item-input item-selected">
        <select ng-model="createEventCtrl.sound">
          <option value="sucka">Sucka</option>
        </select>
      </label>
      <br>
      <div ng-repeat="(uid, user) in updateEventCtrl.usersHash">
        <ion-checkbox ng-click="updateEventCtrl.addToAttendeeHash(uid, user.email)">
          {{ user.email }}
        </ion-checkbox>
      </div>

      <button id="update-button" class="button button-full button-positive"
        ng-click="updateEventCtrl.updateEvent(eventTitle, description, date, time, postcode)">
        Update event
      </button>
    </form>

  </ion-content>
</ion-view>
