<ion-view view-title="{{ viewEventCtrl.userEvent().eventTitle }}">
  <ion-content>

    <div class="list card">
      <div class="item item-avatar">
        <img src="img/alarming.jpg">
        <h2>{{ viewEventCtrl.userEvent().eventTitle }}</h2>
        <p>{{ viewEventCtrl.userEvent().dateTime  | date:'d MMM yyyy, HH:mm' }}</p>
        <p>{{ viewEventCtrl.userEvent().postcode }}</p>
      </div>
      <div class="item item-body">
        <div id="map">
          <ion-content scroll="false">
            <map on-create="viewEventCtrl.mapCreated(map)" latlong='viewEventCtrl.latlong'></map>
          </ion-content>
          <ion-footer-bar class="bar-dark">
            <a id="locate" ng-click="viewEventCtrl.centerOnMe()" class="button
              button-icon icon ion-navigate">Get Directions</a>
          </ion-footer-bar>
        </div>
      </div>
      <div class="item item-body">
        <p><strong>{{ viewEventCtrl.userEvent().description }}</strong></p>
        <div ng-repeat="(key, attendee) in viewEventCtrl.userEvent().attendees">
          <div class="row">
            <div>{{ Date.parse(viewEventCtrl.userEvent().dateTime) }}</div>
            <div class="col col-100">{{ attendee.email }}</div>
            <div class= button-bar>
              <button ng-click="viewEventCtrl.response()" class="button button-full"
                ng-class="{'button-positive': attendee.attending,
                'button-light': !attendee.attending}">Attending</button>
              <button ng-show="viewEventCtrl.late()" class="button button-full button-positive">Late</button>
              <button ng-click="viewEventCtrl.response()" class="button button-full"
                ng-class="{'button-positive': !attendee.attending,
                'button-light': attendee.attending}">Not Coming</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
