<ion-view view-title="{{ viewEventCtrl.userEvent().eventTitle }}">
  <ion-content>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/alarming.jpg">
        <h2>{{ viewEventCtrl.userEvent().eventTitle }}</h2>
        <p>{{ viewEventCtrl.userEvent().dateTime | date:'d MMM yyyy, HH:mm' }}</p>
        <p>{{ viewEventCtrl.userEvent().postcode }}</p>
      </div>

      <div class="item item-body">
        <div id="map">
          <ion-content scroll="false">
            <map on-create="viewEventCtrl.mapCreated(map)" latlong='viewEventCtrl.latlong'></map>
          </ion-content>
          <ion-footer-bar class="bar-dark">
            <a id="locate" ng-click="viewEventCtrl.centerOnMe(mode)" class="button
              button-icon icon ion-navigate">Get Directions</a>
              <div class="button-bar">
                 <a class="button button-raised ink-dark ion-android-walk"
                   ng-click="viewEventCtrl.setTransport('WALKING')"></a>
                 <a class="button button-raised ink-dark ion-model-s"
                   ng-click="viewEventCtrl.setTransport('DRIVING')"></a>
                 <a class="button button-raised ink-dark ion-android-bicycle"
                   ng-click="viewEventCtrl.setTransport('BICYCLING')"></a>
                 <a class="button button-raised ink-dark ion-android-bus"
                   ng-click="viewEventCtrl.setTransport('TRANSIT')"></a>
              </div>
          </ion-footer-bar>
        </div>
      </div>

      <div class="item item-body" ng-show="viewEventCtrl.viewDirections">
        <div class="item">
          <input type="checkbox" ng-model="collapse"> Show full directions</input>
          <div id="directions" class="item" ng-show="collapse"></div>
        </div>
      </div>

      <div class="item item-body">
        <p><strong>Description:</strong> {{ viewEventCtrl.userEvent().description }}</p>
        <div ng-repeat="(key, attendee) in viewEventCtrl.userEventAttendees()">
          <div class="item item-button-right">
            {{ attendee.email  }}
            <div class="buttons">
              <button ng-click="viewEventCtrl.response(attendee.uid, attendee)" class="button button-small ion-checkmark-round"
                ng-class="{'button-positive': attendee.attending,
                'button-light': !attendee.attending}">
              </button>
              <button ng-click="viewEventCtrl.response(attendee.uid, attendee)" class="button button-small ion-close-round"
                ng-class="{'button-assertive': !attendee.attending,
                'button-light': attendee.attending}">
              </button>
            </div>
          </div>
            <div class="item item-button-right">
              <input ng-show="attendee.late" ng-hide="!attendee.attending" ng-model="viewEventCtrl.lateTime" type="number"/>
              <p ng-show="attendee.late" ng-hide="!attendee.attending">
                <strong>Will be there
                  <span ng-show="attendee.late.late">in {{attendee.late.amount}} <span>
                minutes<strong>
              </p>
              <button ng-show="viewEventCtrl.tellLate()" ng-hide="!attendee.attending"
                ng-click="viewEventCtrl.late(attendee.uid, attendee, viewEventCtrl.lateTime)" class="button button-small"
                ng-class="{'button-light':
                !viewEventCtrl.userEvent().attendees[attendee.uid].late.late,
                'button-positive':
                viewEventCtrl.userEvent().attendees[attendee.uid].late.late}">
                E.T.A
              </button>
          </div>
        <div>
      </div>
    </div>

  </ion-content>
</ion-view>
