/* Empty. Add your own CSS if you like */
map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}
#map {
  display: block;
  float: left;
  height: 300px;
}
#locate {
  float: right;
}

#signup {
  margin-top: 50%;
}

#loggedout {
  /* background: url(../img/splash.png); */
  background-color: red !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 90%;
  height: 246px;
  margin: auto;
  z-index: 2;
  position: relative;
}
#header {
  font-size: 1.614em;
  color: black;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
#id {
  color: black !important;
}
#travel {
  position: relative;
  width: 290px;
  height: 100px;
  margin-left: 300px;
}
