/* Empty. Add your own CSS if you like */
map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}
#map {
  display: block;
  float: left;
  height: 300px;
}
#locate {
  float: right;
}

#signup {
  margin-top: 70%;
  opacity: 0.8;
}

#signin {
  opacity: 0.7;
}


.test {
    background: url(../img/london-edit.png) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
}


