/* Empty. Add your own CSS if you like */
map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}
#map {
  display: block;
  float: left;
  height: 200px;
}
#locate {
  float: right;
}
